/* FONTS */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

/* CONTAINERS */
:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

/* LINKS */
.navigation-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.navigation-link:hover {
  color: var(--color-brand);
}

.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-link:hover {
  color: var(--color-brand);
}

/* BUTTONS */
.button {
  color: var(--color-primary-light);
  background: var(--color-brand);
  font-weight: 600;
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 32px;
  margin-bottom: 14px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand);
}

.carousel-button {
  border-radius: 50%;
  fill: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: solid 1px var(--color-primary-dark);
  flex-shrink: 0;
}

.carousel-button:hover {
  background-color: var(--color-brand);
  fill: var(--color-primary-light);
}

/* HEADER */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-social {
  display: flex;
  gap: 32px;
}

.header-icon {
  fill: var(--color-primary-dark);
}

.header-icon:hover {
  fill: var(--color-brand);
}

/* HERO SECTION */
.hero-section {
  padding: 160px 0 268px 0;
  background-image: url(/images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 86px;
  max-width: 400px;
}

.hero-tittle {
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.83;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.hero-text-information {
  color: #4a4a4a;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  max-width: 250px;
}

/* ABOUT SECTION */
.about-section {
  padding: 0 0 88px 0;
}

.about-content {
  display: flex;
  gap: 32px;
}

.content-text {
  max-width: 666px;
  margin-top: 40px;
}

.content-images-list {
  display: flex;
  flex-direction: column;
}

.images-list-item {
  margin-left: 200px;
}

.about-photo {
  border-radius: 327px;
  background: #d9d9d9;
}

.section-tittle {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.section-tittle .accent {
  color: var(--color-brand);
}

.capitalize {
  text-transform: capitalize;
}

.about-tittle-accent {
  text-align: start;
  margin-bottom: 40px;
}

.about-text {
  font-size: 22px;
  line-height: 1.7;
  margin-bottom: 40px;
}

.about-text:last-child {
  margin-bottom: 0;
}

.about-text .accent {
  font-weight: 600;
  text-transform: capitalize;
}
/* ADVANTAGES SECTION */
.advantages-section {
  padding: 88px 0 48px 0;
}

.tittle-margin {
  margin-bottom: 48px;
}

.advantages-list {
  display: flex;
  justify-content: center;
  gap: 56px;
}

.advantages-item {
  text-align: center;
  padding: 32px 24px;
  border: 1px solid var(--color-primary-light);
  border-radius: 32px;
  background: var(--color-primary-light);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.advantages-icon {
  fill: var(--color-brand);
}

.advantages-text {
  color: #000;
  line-height: 1.3;
  width: 252px;
}

/* PROCEDURES SECTION */
.procedures-section {
  padding: 48px 0;
}

.procedures-container {
  display: flex;
  justify-content: center;
}

.procedures-tittle {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 22px;
  line-height: 1.1;
}

.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
  border-radius: 120px 4px;
  background: linear-gradient(
    rgba(1, 28, 68, 0),
    rgba(1, 28, 68, 0.73),
    #011c44
  );
}

/* CONTACTS SECTION */
.contacts-section {
  padding: 48px 0 150px 0;
}

/* FOOTER */
.footer-section {
  background: var(--color-primary-dark);
}

.footer-container {
  display: flex;
  gap: 32px;
  padding: 56px 0 56px 0;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 186px;
}

.footer-menu {
  flex-grow: 1;
}

.footer-social {
  display: flex;
  gap: 24px;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 16px;
}

.adress-link:hover {
  color: var(--color-brand);
}

.footer-icon {
  fill: var(--color-primary-light);
}

.footer-icon:hover {
  fill: var(--color-brand);
}

.politics-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 16px;
}

.politics-link:hover {
  color: var(--color-brand);
}

.politics-text {
  color: #747272;
  font-size: 13px;
}
