/* FONTS */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

/* CONTAINERS */
:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

/* LINKS */
.navigation-link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.navigation-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

.footer-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
}

.footer-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

/* BUTTONS */
.button {
  color: var(--color-primary-light);
  background: var(--color-brand);
  font-weight: 600;
  border-radius: 32px;
  cursor: pointer;
  padding: 16px 32px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand);
}

/* HERO SECTION */
.hero-section {
  padding: 124px 0 514px 0;
}

.hero-tittle {
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 0;
}

.hero-text-information {
  color: #4a4a4a;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

/* ABOUT SECTION */
.about-section {
  padding: 0 0 88px 0;
}

.section-tittle {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}

.section-tittle.tittle-margin {
  margin-bottom: 0 0 48px 0;
}

.section-tittle .accent {
  color: var(--color-brand);
}

.capitalize {
  text-transform: capitalize;
}

.about-text {
  font-size: 22px;
  line-height: 1.7;
}

.about-text .accent {
  font-weight: 600;
  text-transform: capitalize;
}

/* ADVANTAGES SECTION */
.advantages-section {
  padding: 88px 0 48px 0;
}

.advantages-text {
  color: #000;
  text-align: center;
  line-height: 1.3;
}

/* PROCEDURES SECTION */
.procedures-section {
  padding: 48px 0;
}

.procedures-tittle {
  color: darkred;
  text-align: center;
  font-size: 22px;
  line-height: 1.1;
}

/* CONTACTS SECTION */
.contacts-section {
  padding: 48px 0 150px 0;
}

/* FOOTER */
.footer-section {
  background: var(--color-primary-dark);
}

.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

.politics-link {
  color: var(--color-primary-light);
  font-size: 16px;
  text-decoration: none;
}

.politics-link:hover {
  color: var(--color-brand);
  font-weight: 700;
}

.politics-text {
  color: #747272;
  font-size: 13px;
}
